body {
    background-color: orange;
    background-repeat: no-repeat;
    background-size: 100%;

}
.navbar-inner {
    background:transparent;
}
#header-image {
    width: 40%;
}
.pointer {
    cursor: pointer;
    text-decoration: none;
}
.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

* {
    font-family: 'Open Sans', sans-serif;
}
.post-body{
    background-color: rgb(219, 219, 219);
    border-radius: 0 15px 15px 0;
}
.post-container {
    border-radius: 15px;
}
