@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Open+Sans&family=Poppins&display=swap');
body {
    background-color: orange;
    background-repeat: no-repeat;
    background-size: 100%;

}
.navbar-inner {
    background:transparent;
}
#header-image {
    width: 40%;
}
.pointer {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.pointer:hover {
    color: rgb(68, 68, 68);
}
.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 600;
  }

* {
    font-family: 'Open Sans', sans-serif;
}
.post-body{
    background-color: rgb(219, 219, 219);
    border-radius: 0 15px 15px 0;
}
.post-container {
    border-radius: 15px;
}
.button-custom {
    width: 35%;
    margin: 2%;
}
.card-title {
    font-weight: 600;
}
.card-text {
    height: 25%;
    max-height: 100px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.card-col {
    height: 100%;
}
.card-row {

}